langchain
streamlit
google-generativeai
pandas              # (if using for data handling)
python-dotenv
langchain-community
langchain-google-genai
langchain_huggingface
unstructured
tiktoken
pinecone-client
pypdf
sentence-transformers
uvicorn
chromadb
faiss-cpu # one type of databases to store embedding
wikipedia
flask
langgraph
langchain_experimental
tabulate
# googletrans==4.0.0-rc1
flask_cors
mediawikiapi
httpx
httpcore
googletrans-py
pdfplumber 
pdf2image 
pytesseract
pymupdf
gunicorn

#web scraping
requests
beautifulsoup4
selenium

# audio + speech recognition
pyaudio
six
google-cloud-speech
google-cloud-core

# language detection + utils
langdetect
regex
python-dateutil




